# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/modules.xml
/contentModel.xml
/.idea.Personal-Portfolio.iml
# Datasource local storage ignored files
/../../../../../../:\_MyWebsite\Personal-Portfolio\.idea\.idea.Personal-Portfolio.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
